.mom-main-up {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.mom-main-up .mom-main-wrapper {
    width: 100%;
    height: 100%;
}
.mom-main-up .mom-main-ani-text-wrap{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 600;
    animation : goUpText 1s ease-in-out 1.7s forwards;
    overflow: hidden;
}
@keyframes goUpText {
    100%{
        height: 0vh;
        font-size: 48px;
    }
}
.mom-main-up .mom-main-ani-text > span{
    min-width: 20px;
}
.mom-main-up .mom-main-bg-wrapper{
    position: absolute;
    width: 100%;
    height: 0vh;
    bottom: 0;
    animation : goUpVideo 1s ease-in-out 1.7s forwards;
}
@keyframes goUpVideo {
    100%{
        height: 100vh;
    }
}
.mom-main-up .mom-main-bg-wrapper > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mom-main-up .mom-btm-left-text-wrap{
    position: absolute;
    bottom: 0px;
    left: 40px;
    overflow: hidden;
    margin-bottom: 30px;
}
.mom-main-up .mom-btm-top-btn{
    background: blue;
    padding: 5px 8px;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.mom-main-up .mom-btm-left-contexts{
    line-height: 24px;
}
.mom-main-up .mom-btm-center-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    margin-bottom: 30px;
}
.mom-main-up .center-large-text{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 52px;
    margin-bottom: 20px;
}
.mom-main-up .center-small-text{
    text-align: center;
}
.mom-main-up .btm-right-video{
    position: absolute;
    z-index: 3;
    width: 360px;
    aspect-ratio: 16/9;
    border-radius: 15px;
    overflow: hidden;
    bottom: 0;
    right: 40px;
    
    margin-bottom: 30px;
}
.mom-main-up .btm-video-wrapper{
    width: 100%;
    height: 100%;
}
.mom-main-up .btm-video-wrapper > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mom-main-up .btm-right-video-text{
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 10px;
    font-size: 32px;
}
.mom-main-up .btm-discover-btn{
    background: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    padding: 5px 40px;
    height: 27px;
    font-size: 14px;
    border-radius: 5px;
}
.mom-main-up .btm-discover-btn > p{
    margin-bottom: 3px;
}
.mom-main-up .mom-btm-left-text-wrap,
.mom-main-up .mom-btm-center-wrap,
.mom-main-up .btm-right-video{
    scale: 0;
    color: white;
    animation : scaleUpDiv .8s ease-in-out 1.7s forwards;
}
@keyframes scaleUpDiv {
    100%{
        scale: 1;
    }
}