.move-change-text{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 200px;
}
.move-change-text .move-change-inner{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}
.move-change-text .move-top-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.move-change-text .move-main-title{
    display: flex;
    gap: 10px;
    /*font-size: 10px;*/
    font-weight: 600;
    font-size: 63px;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 60px;
}
.move-change-text .move-main-title:nth-of-type(2){
    margin-bottom: 100px;
}
.move-change-text .move-bottom-context-wrapper{
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.move-change-text .move-bottom-unit{
    width: 30%;
    aspect-ratio: 4/3;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 10px;
    position: relative;
}
.move-change-text .move-bottom-img-wrapper{
    width: 100%;
    position: relative;
}
.move-change-text .move-bottom-img-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: all .8s cubic-bezier(.4,0,.2,1) ;
}
.move-change-text .move-front-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: white;
    width: 100%;
    display: flex;
    padding: 40px 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}
.move-change-text .move-bottom-unit:hover .move-bottom-img-wrapper > img{
    filter: grayscale(1) brightness(0.5);
    scale: 1.1;
}

.move-change-text .move-main-title > p{
    color:  #E2ECE2;
}
.move-change-text.active .move-main-title > p{
    animation : changeColored 0.6s ease forwards;
}
@keyframes changeColored {
    0%{
        color: #E2ECE2;
    }
    50%{
        color: #0038ff;
    }
    100%{
        color: black;
    }
}