.mom-scale-one {
    width: 100%;
    height: 500vh;
    position: relative;
    background: black;
    color: white;
}
.mom-scale-one .mom-scale-wrapper {
    width: 100%;
    height: 100%;
}

.mom-scale-one .mom-sticky-wrapper{
    width: 100%;
    height: 100vh;
    top: 0;
    position: sticky;
}
.mom-scale-one .mom-go-to-top-unit{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #363636;
}
.mom-scale-one .mom-go-to-top-unit:not(:nth-of-type(1)){
    opacity: 0;
}
.mom-scale-one .mom-top-title-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.mom-scale-one .mom-loding-wrapper{
    width: 100%;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mom-scale-one .mom-top-texts-wrapper{
    padding: 0px 50px;
}
.mom-scale-one .mom-center-load{
    background: blue;
    width: 100%;
    height: 100%;
}
.mom-scale-one .mom-top-cate-wrap{
    display: flex;
    gap: 15px;
}
.mom-scale-one .mom-top-title{
    font-size: 38px;
    font-weight: 500;
}
.mom-scale-one .mom-top-cate-unit{
    background: #1c1c1c;
    padding: 10px 30px;
}
.mom-scale-one .mom-btm-wrapper{
    width: 100%;
    height: 100%;
}
.mom-scale-one .mom-btm-img-wrapper{
    width: 100%;
    height: calc(100% - 600px);
    overflow: hidden;
}
.mom-scale-one .mom-btm-img-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mom-scale-one .mom-btm-text-wrapper{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
.mom-scale-one .mom-btm-small-text{
    margin-bottom: 10px;
}
.mom-scale-one .mom-btm-larger-text{
    font-size: 54px;
    font-weight: 500;
    line-height: 58px;
}