@font-face {
    font-family: 'Youth';
    font-style: normal;
    font-weight: 400;
    src: url('//fastly.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
    url('//fastly.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

.youth * {
    font-family: 'Youth', sans-serif;
}
.brxe-ywnrmc{
    width: 100%;
}
.brxe-ywnrmc .rxe-ywnrmc-cover{
    width: 100%;
    display: flex;
    background-color: #ffffff;
flex-direction: column;
    justify-content: space-between;
    height: 83vh;
    padding-top: 13vh;
    padding-bottom: 5vh;
    z-index: 0;
    /*margin-top: -5px;*/
}
.brxe-ywnrmc .rxe-ywnrmc-cover .top-txt{
    background-color: rgba(0, 0, 0, 0);
    align-self: center;
    color: #212121;
    font-size: 0.9vw;
    text-transform: uppercase;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 3px;
    padding-bottom: 13px;
    text-align: center;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .top-txt.smlet{
    background-color: rgba(0, 0, 0, 0);
    align-self: center;
    color: #212121;
    font-size: 0.9vw;
    text-transform: uppercase;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 3px;
    padding-bottom: 13px;
    text-align: center;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-list-box{
    display: flex;
    flex-direction: column;
width: 20%;

}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-list-box .brxe-persent:after{
    content: '';
    position: absolute;
    top: 0;
    right: -64px;
    border-top-width: 3vw;
    width: 0.5px;
    height: 76%;
    background-color: #d9d9d9;;
    /*opacity: 0.5; */
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-list-box .brxe-persent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .top-context{
    width: 100%;

}
.brxe-ywnrmc .rxe-ywnrmc-cover .slide-up2{
    align-self: center;
    text-align: center;
    text-transform: capitalize;

    font-weight: 600;
    font-size: 2.5vw;

    line-height: 3vw;
    color: #212121;
    /*width: 60%;*/
    text-align: center;
    font-family: 'Pretendard Variable', sans-serif;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .numper{
    align-self: flex-end;
    flex-shrink: 1;
    color: #0038ff;
    font-size: 2.5vw;
    font-family: "Youth";
    font-weight: 300;
    line-height: 2.5vw;

}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .num{
    font-size: 4vw;
    font-family: "Youth";
    font-weight: 300;
    line-height: 3.7vw;
    text-align: center;
    letter-spacing: -0.1vw;
    align-self: flex-end;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .btn-left{
    width: 10vw;
    background-color: #0038ff;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    border-radius: 2vw;
    position: relative;
    align-items: center;
    height: 5vh;
    color: #ffffff;
overflow: hidden;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .btn-left .btntxt{
    transform: translate(0px, 1px);
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .btn-left .btntxt:hover{

}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .btn-ritht{
    display: flex;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    justify-content: center;
    /*background-color: rgba(15, 15, 15, 0);*/
    background-color: #0038ff;
    width: 5vh;
    height: 5vh;
    border-radius: 100px;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-pasrwv{
    margin: 0 auto;
    display: flex;
    column-gap: 10%;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-pasrwv .a-box{
    display: flex;
  gap: 15px;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-link{
    display: flex;
    align-items: center;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-image{

    width: 0.7vw;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0.7vw;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .box-cover{
     display: flex;
  margin: 0 auto;

     column-gap: 12vw;
 }
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-link .btn-left1{
    width: 10vw;
    /*background-color: #0038ff;*/
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    border-radius: 2vw;
    position: relative;
    align-items: center;
    height: 5vh;
    color: #ffffff;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-link .btntxt1{
    color: #000000;
}
.brxe-ywnrmc .rxe-ywnrmc-cover .brxe-container .brxe-image1{
    filter: brightness(0.5);
    width: 0.7vw;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0.7vw;
}